/* General Footer Styles */

.footerContainer {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  background-color: black;
  color: white;
}

.footerInnerContainer {
  width: 90%;
  margin: 0 auto;
}

/* Heading styles */
.footerTitle {
  margin-bottom: 3.125rem;
  font-size: 1.875rem;
  line-height: 1.125rem;
  font-weight: 600;
}

/* Footer Email */
.footerEmail {
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.footerEmail a {
  cursor: pointer;
}

/* Footer Social Links */
.footerSocialLinks {
  display: flex;
  margin-bottom: 1.25rem;
}

.footerSocialLinks a {
  margin-right: 1.25rem;
  line-height: 1.5rem;
  color: #999;
  padding: 1rem 0rem;
}

/* Footer Copyright */
.footerCopyright {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #999;
}

/* TABLET MEDIA QUERIES */

@media (min-width: 768px) {
  /* General Footer Styles */
  .footerContainer {
    padding-bottom: 5rem;
  }

  /* Heading styles */
  .footerTitle {
    font-size: 3.125rem;
    line-height: 1.35rem;
  }

  /* Footer Social Links */
  .footerSocialLinks {
    margin-bottom: 6.25rem;
  }

  /* Footer Copyright */
  .footerCopyright {
    font-size: 1rem;
  }
}

/* LAPTOP MEDIA QUERIES */

@media (min-width: 1440px) {
  /* General Footer Styles */
  .footerContainer {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .footerInnerContainer {
    width: 85%;
  }

  /* Heading styles */
  .footerTitle {
    font-size: 4rem;
  }
}

@media (min-width: 2560px) {
  /* General Footer Styles */
  .footerContainer {
    padding-top: 7.5rem;
    padding-bottom: 11.5rem;
  }

  .footerInnerContainer {
    width: 75%;
  }

  /* Heading styles */
  .footerTitle {
    font-size: 4.7rem;
  }
}
