/* General Styling for Section */

.headerContainer {
  width: 90%;
  margin: 0 auto;
  color: #111;
  padding-top: 6.25rem;
}

.headerContainer::after {
  content: "";
  display: block;
  height: 0.3rem;
  background-color: #111;
  margin-top: 6rem;
}

/* Logo */
.headerLogo {
  font-size: 3.75rem;
  line-height: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}

/* All Header Content Container */
.headerContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Left side of header */
.headerLeft {
  margin-bottom: 1.25rem;
}

/* Email Adrress */
.headerLeft a {
  color: inherit;
  margin-bottom: 1.25rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}
.headerLeft a span {
  text-decoration: underline;
}

/* Titles styles */
.headerPositions {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

/* Right side of header */
.headerRight {
  margin-right: 3.35rem;
}

.headerAboutText {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.headerAboutText p {
  margin-top: 0rem;
}

/* Social Links */

.socialLinks a {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
  text-decoration: none;
  margin-right: 1.25rem;
  cursor: pointer;
}

/* Test Animations */

.socialLinks a:hover {
  color: #333;
  transition: 0.4s ease-in-out;
}
.socialLinks a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.socialLinks a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* TABLET MEDIA QUERIES */

@media (min-width: 768px) {
  /* General Styling for Section */
  .headerContainer {
    padding-top: 8.75rem;
  }

  /* Logo */
  .headerLogo {
    font-size: 7rem;
    line-height: 6rem;
    margin-bottom: 1.25rem;
  }

  /* All Header Content Container */
  .headerContent {
    flex-direction: row;
  }

  /* Right side of header */
  .headerRight {
    margin-right: 3.3rem;
  }
}

/* DESKTOP MEDIA QUERIES */

@media (min-width: 1440px) {
  /* General Styling for Section */
  .headerContainer {
    width: 85%;
    padding-top: 9.25rem;
  }

  /* Logo */
  .headerLogo {
    font-size: 10rem;
    line-height: 8.5rem;
    margin-bottom: 2.25rem;
  }

  /* Titles styles */
  .headerPositions {
    font-size: 1.875rem;
  }

  /* Right side of header */
  .headerRight {
    margin-right: 1.25rem;
  }
}

@media (min-width: 2560px) {
  /* General Styling for Section */
  .headerContainer {
    width: 75%;
    padding-top: 16.875rem;
  }

  /* Logo */
  .headerLogo {
    font-size: 14rem;
    line-height: 12rem;
    margin-bottom: 7rem;
  }

  /* Email Adrress */
  .headerLeft a {
    font-size: 1.5rem;
  }

  /* Titles styles */
  .headerPositions {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  /* Right side of header */
  .headerRight {
    margin-right: 9rem;
  }

  .headerAboutText {
    font-size: 1.5rem;
  }

  /* Social Links */

  .socialLinks a {
    font-size: 1.5rem;
  }
}
